{% extends "./Layouts/default.twig" %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/fr.js"></script>
<script type="text/javascript">
  moment().locale('fr')
  $('.moment').each(function () {
    $(this).html(moment($(this).html()).fromNow())
  })
  $('.formatSeconds').each(function () {
    $(this).html(formatSeconds($(this)))
  })
  $('.ui.sticky').sticky({
    context: '.contest-body'
  })
</script>
{% endblock %}

{% block body %}
<div class="ui container">
  <div class="ui grid contest-body">

    <div class="thirteen wide column">
      <div class="ui raised card" style="width: 100%">
        <div class="content">
          <div class="ui items">
            <div class="item">
              <div class="ui tiny image mobile-hide">
                <img src="http://web.skins.obsifight.fr/head/{{usersByIDs[contest.user_id]}}">
              </div>
              <div class="content">
                {% if sanction.duration == 'PERMANENT' %}
                  <span class="ui red right ribbon label">Permanent</span>
                {% else %}
                  <span class="ui orange right ribbon label formatSeconds">{{sanction.duration}}</span>
                {% endif %}
                <div class="clearfix"></div>
                <span class="header" style="position: absolute;top: 20px;">{{usersByIDs[contest.user_id]}}</span>
                <div class="meta">
                  <span>
                    {{contest.sanction_type == 'ban' ? 'Bannis' : 'Mute'}}&nbsp;
                    <span class="moment">{{sanction.date}}</span>
                  </span>
                </div>
                <div class="ui divider"></div>
                <div class="description">
                  <p>
                    <b>Raison: </b>
                    &laquo; <em>{{sanction.reason}}</em> &raquo;
                  </p>
                  <p>
                    <b>Par: </b>
                    {{sanction.staff.username}}
                  </p>
                  <p>
                    <b>Contestation: </b>
                    &laquo; <em>{{contest.reason}}</em> &raquo;
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <div class="right floated author">
            Contestée <span class="moment">{{contest.created_at}}</span>
          </div>
        </div>
      </div>

      <div class="ui segment">
        <div class="ui comments" style="max-width: none;">
          <h3 class="ui dividing header">Commentaires</h3>
          {% for comment in comments %}
            <div class="comment">
              <a class="avatar">
                <img src="http://web.skins.obsifight.fr/head/{{usersByIDs[comment.user_id]}}">
              </a>
              <div class="content">
                <a class="author">{{usersByIDs[comment.user_id]}}</a>
                <div class="metadata">
                  <span class="date moment">{{comment.created_at}}</span>
                </div>
                <div class="text">
                  {{comment.content}}
                </div>
              </div>
            </div>
            <div class="ui divider"></div>
          {% endfor %}
          <form class="ui reply form">
            <div class="field">
              <textarea></textarea>
            </div>
            <div class="ui blue labeled submit icon button">
              <i class="icon edit"></i> Répondre à la contestation
            </div>
          </form>
        </div>
      </div>

    </div>

    <div class="column">
      <div class="ui rail">
        <div class="ui sticky">
          <div class="ui segment" style="margin-top:15px">
            <button class="fluid ui red button" data-tooltip="Le joueur ne pourra plus contester la sanction avant 15 jours." data-inverted>
              <i class="icon remove"></i>&nbsp;<span class="mobile-hidden">Fermer</span>
            </button>
            <div class="ui divider"></div>
            <button class="fluid ui green button" data-tooltip="Le joueur sera automatique débanni" data-inverted>
              <i class="icon minus"></i>&nbsp;<span class="mobile-hidden">Débannir</span>
            </button>
            <div class="ui divider"></div>
            <button class="fluid ui teal button" data-tooltip="La sanction du joueur sera réduite" data-inverted>
              <i class="icon checkmark"></i>&nbsp;<span class="mobile-hidden">Réduire</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
