{% extends "./Layouts/default.twig" %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/fr.js"></script>
<script type="text/javascript">
  moment().locale('fr')
  $('.moment').each(function () {
    $(this).html(moment($(this).html()).fromNow())
  })
  $('.formatSeconds').each(function () {
    $(this).html(formatSeconds($(this)))
  })
</script>
{% endblock %}

{% block body %}
<div class="ui container">
  <div class="ui grid">

    <div class="thirteen wide column">
      <div class="ui raised card" style="width: 100%">
        <div class="content">
          <div class="ui items">
            <div class="item">
              <div class="ui tiny image mobile-hide">
                <img src="http://web.skins.obsifight.fr/head/{{user.usernames.current}}">
              </div>
              <div class="content">
                {% if sanction.duration == 'PERMANENT' %}
                  <span class="ui red right ribbon label">Permanent</span>
                {% else %}
                  <span class="ui orange right ribbon label formatSeconds">{{sanction.duration}}</span>
                {% endif %}
                <div class="clearfix"></div>
                <span class="header" style="position: absolute;top: 20px;">{{user.usernames.current}}</span>
                <div class="meta">
                  <span>
                    {{contest.sanction_type == 'ban' ? 'Bannis' : 'Mute'}}&nbsp;
                    <span class="moment">{{sanction.date}}</span>
                  </span>
                </div>
                <div class="ui divider"></div>
                <div class="description">
                  <p>
                    <b>Raison: </b>
                    &laquo; <em>{{sanction.reason}}</em> &raquo;
                  </p>
                  <p>
                    <b>Par: </b>
                    {{sanction.staff.username}}
                  </p>
                  <p>
                    <b>Contestation: </b>
                    &laquo; <em>{{contest.reason}}</em> &raquo;
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <div class="right floated author">
            Contestée <span class="moment">{{contest.created_at}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="three wide column">
      <div class="ui segment">
        <button class="fluid ui red button" data-tooltip="Le joueur ne pourra plus contester la sanction avant 15 jours." data-inverted>Fermer</button>
        <div class="ui divider"></div>
        <button class="fluid ui green button" data-tooltip="Le joueur sera automatique débanni" data-inverted>Débannir</button>
        <div class="ui divider"></div>
        <button class="fluid ui teal button" data-tooltip="La sanction du joueur sera réduite" data-inverted>Réduire</button>
      </div>
    </div>

  </div>

  <div class="column" style="margin-top: 20px;">
    <div class="ui segment">
      <div class="ui comments">
        <h3 class="ui dividing header">Commentaires</h3>
        <div class="comment">
          <a class="avatar">
            <img src="/images/avatar/small/matt.jpg">
          </a>
          <div class="content">
            <a class="author">Matt</a>
            <div class="metadata">
              <span class="date">Today at 5:42PM</span>
            </div>
            <div class="text">
              How artistic!
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
        <div class="comment">
          <a class="avatar">
            <img src="/images/avatar/small/elliot.jpg">
          </a>
          <div class="content">
            <a class="author">Elliot Fu</a>
            <div class="metadata">
              <span class="date">Yesterday at 12:30AM</span>
            </div>
            <div class="text">
              <p>This has been very useful for my research. Thanks as well!</p>
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
          <div class="comments">
            <div class="comment">
              <a class="avatar">
                <img src="/images/avatar/small/jenny.jpg">
              </a>
              <div class="content">
                <a class="author">Jenny Hess</a>
                <div class="metadata">
                  <span class="date">Just now</span>
                </div>
                <div class="text">
                  Elliot you are always so right :)
                </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comment">
          <a class="avatar">
            <img src="/images/avatar/small/joe.jpg">
          </a>
          <div class="content">
            <a class="author">Joe Henderson</a>
            <div class="metadata">
              <span class="date">5 days ago</span>
            </div>
            <div class="text">
              Dude, this is awesome. Thanks so much
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
        <form class="ui reply form">
          <div class="field">
            <textarea></textarea>
          </div>
          <div class="ui blue labeled submit icon button">
            <i class="icon edit"></i> Add Reply
          </div>
        </form>
      </div>

    </div>
  </div>

</div>
{% endblock %}
